.table {
  border: 1px solid black;
}

.table tr th,
.table tr td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

.stripped-table tbody tr:nth-child(2n + 1) {
  background-color: greenyellow;
}
